
.functions {
    width: 29%;
    float: left;
    background-color: white;
    border: 2px solid darkgray;
}

.results {
    width: 69%;
    float: right;
    background-color: white;
    border: 2px solid darkgray;
    padding-top: 5px;
    padding-bottom: 25px;
}
.search {
    margin-bottom: 7px;
}

.create {
    margin-bottom: 7px;
}

.update {
    margin-bottom: 7px;
}

.delete {
    margin-bottom: 7px;
}

#root {
    background-color: lightsalmon;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#resultfield {
    margin-top: 0;
}

#one_result {
    margin: 10px;
    border: 1px solid brown;
}
